<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" android:versionCode="23" android:versionName="6.0.1" package="android.microntek.canbus" platformBuildVersionCode="23" platformBuildVersionName="6.0.1">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.SERIAL_PORT" />
    <application android:theme="@*android:style/Theme.Translucent" android:label="@r$string/app_name" android:icon="@r$drawable/ic_launcher" android:name=".BaseApplication" android:allowBackup="true">
        <receiver android:name=".CanBusReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LAUNCHER_STARTED" />
            </intent-filter>
        </receiver>
        <service android:name=".CanBusServer" android:persistent="true">
            <intent-filter>
                <action android:name="com.microntek.canbusserver" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".AirServer">
            <intent-filter>
                <action android:name="com.microntek.AirServer" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".DoorServer">
            <intent-filter>
                <action android:name="com.microntek.DoorServer" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".RadarServer">
            <intent-filter>
                <action android:name="com.microntek.RadarServer" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".Ajxserver">
            <intent-filter>
                <action android:name="com.microntek.ajxService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".ParkServer">
            <intent-filter>
                <action android:name="com.microntek.ParkServer" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <activity android:label="@r$string/carinfo" android:name=".Canbus20Activity" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="com.microntek.Canbus20Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Wallpaper.NoTitleBar" android:name=".log.CanBusLogActivity" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Wallpaper.NoTitleBar" android:label="@r$string/air_name" android:icon="@r$drawable/ic_air_control" android:name=".air.AirControlActivity" android:excludeFromRecents="true" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".WarningServer">
            <intent-filter>
                <action android:name="com.microntek.WarningServer" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".update.UpdateService">
            <intent-filter>
                <action android:name="com.microntek.canbus.UpdateService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>
